/*!
 * ABRUPT éditions
 */
@charset "UTF-8";

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-bold-webfont.woff2') format('woff2'),
    url('fonts/crimson-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-italic-webfont.woff2') format('woff2'),
    url('fonts/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-bolditalic-webfont.woff2') format('woff2'),
    url('fonts/crimson-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @font-face { */
/*   font-family: 'Fira Mono'; */
/*   src: */
/*     url('fonts/fira-mono.woff2') format('woff2'), */
/*     url('fonts/fira-mono.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */

:root {
  --color-bg: #000;
  --color-fg: #fff;
  --color-anim: #f00;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
}

html {
  height: 100%;
}

::-moz-selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

::selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

body {
  margin: 0 auto;
  font-family: "Crimson Text", serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  font-size: 2rem;
  background: var(--color-bg);
  color: var(--color-fg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  /* max-width: 66ch; */
  padding: 0;
  width: 100%;
  padding: 0 1em;
}

@media (min-width: 90em) {
  body {
    font-size: 2.6rem;
  }
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  width: 100%;
  border: 0;
}

figure {
  margin: 0 0 1.62em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

figure a {
  margin: 0;
  padding: 0;
  color: unset;
  font-style: normal;
  border-bottom: unset;
  height: 1.62em;
  text-indent: 0;
}

figure a:hover,
figure a:focus,
figure a:active {
  background-color: unset;
  color: unset;
  text-decoration: unset;
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: 2em 0 0;
  line-height: inherit;
  font-weight: bold;
  font-size: 1em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

a {
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  text-decoration: underline solid var(--color-anim);
}

a:hover,
a:focus,
a:active {
  border: 1px solid var(--color-anim);
}

p {
  margin: 1.62em 0;
}

em {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

ul {
  list-style: none;
  margin: 1.62em 0;
  padding: 0;
}

.centre {
  text-align: center;
}

.droite {
  text-align: right;
}

.italique {
  font-style: italic;
}

.noemptyline {
  margin-bottom: 0;
}

.emptyline {
  margin-bottom: 1.6em;
}

.emptylinebefore {
  margin-top: 1.6em;
}

.noindent {
  text-indent: 0;
}

.title {
  /* text-align: center; */
}

.title__link {
  font-style: normal;
  color: var(--color-fg);
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--color-fg);
  padding: 0.2em;
  margin: 1rem 0;
}

.title__link:hover,
.title__link:focus {
  outline: none;
}

.author {
  /* text-align: center; */
}

.publisher {
  /* text-align: center; */
}

.marquetypographique {
  margin: 1.62em auto;
  width: 100%;
  max-width: 250px;
}

/* Modifications spécifiques */

.dio {
  font-size: 0.85em;
  max-width: 700px;
  padding: 0 1em;
  margin: 2rem auto;
  background: var(--color-bg);
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-radius: 0;
}

.button {
  color: var(--color-fg);
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.2em;
  border: 1px solid var(--color-fg);
}

.button:hover {
  border: 1px solid var(--color-anim);
}

.button.shuffle {
  display: inline-block;
  margin: 1rem 0;
  /* position: absolute; */
  /* right: 0; */
  /* left: 0; */
  /* top: 5em; */
  /* margin: 0 auto; */
}

.button.menu {
  margin: 1rem 0 1rem;
  /* position: absolute; */
  /* right: 0; */
  /* left: 0; */
  /* margin: 0 auto; */
}

.button--action {
  display: inline-block;
  margin: 0;
}

.title__link--item {
  display: none;
}
/*  */
/* @media (max-width: 55em) and (orientation: landscape ) { */
/*   .pagetitre .title__link { */
/*     margin: 0; */
/*   } */
/* } */

.show {
  display: inline-block;
}

.informations {
  display: none;
}

.informations--show {
  border: 1px solid var(--color-fg);
  background: var(--color-bg);
  z-index: 100000;
  display: block;
  margin: 0;
  padding: 0.2em;
  display: inline-block;
  vertical-align: top;
  animation-name: shake;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.informations--machine {
  position: fixed;
  top: 5%;
  right: 5%;
}

.informations--verbe {
  position: fixed;
  top: 30%;
  left: 5%;
}

.informations--dio {
  position: fixed;
  bottom: 30%;
  right: 5%;
}

.informations--consume {
  position: fixed;
  bottom: 5%;
  left: 5%;
}

.informations--spectacle {
  position: fixed;
  top: 55%;
  left: 10%;
}

.informations--renverse {
  position: fixed;
  top: 40%;
  right: 40%;
}

.informations--pirate {
  position: fixed;
  bottom: 20%;
  right: 30%;
}

.affiche {
  /* width: 100%; */
  /* height: 100%; */
  width: 80vmin;
  height: 80vmin;
  max-width: 800px;
  max-height: 800px;
  /* width: 49.4944vh; */
  /* height: 70vh; */
  /* width: 70vw; */
  /* height: 99.001vw; */
  /* max-width: 460px; */
  /* max-height: 650.578px; */
  margin: 1rem 0;
  border: 1px solid var(--color-fg);
  background: var(--color-bg);
  font-size: 0.75em;
  /* font-size: 2.4vw; */
  overflow: hidden;
  position: relative;
}

@media (min-width: 45em) {
  .affiche {
    width: 70vmin;
    height: 70vmin;
    font-size: 1.2em;
  }
}

.randombox {
  position: absolute;
  top: 5%;
  left: 5%;
  border: 1px solid var(--color-fg);
}

/* .affiche--horizontal { */
/*   width: 70vw; */
/*   height: 49.4944vw; */
/*   max-width: 460px; */
/*   max-height: 325.2492px; */
/*   margin: 1rem 0; */
/*   border: 1px solid var(--color-fg); */
/*   background: var(--color-bg); */
/*   font-size: 1.7vh; */
/* } */

.prose {
  margin: 0 auto;
  padding: 1em;
  overflow: hidden;
   touch-action: none;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  height: 100%;
  width: 100%;
}

.prose p {
  display: table;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
  margin: 0;
  padding: 0 0.2em;
  border: 1px solid rgba(0,0,0,0);
}


.prose p:hover,
.prose p:active,
.prose p:focus {
  border: 1px solid var(--color-fg);
}

.hide-scrollbar {
	overflow: -moz-hidden-unscrollable;
	overflow: hidden;
}

/* Shake */
.shake {
  display: inline-block;
  vertical-align: top;
}

.shake:hover, .shake:focus, .shake:active {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shake {
  2% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  4% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  6% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  8% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  10% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  20% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  24% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  26% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  30% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  32% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  36% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  38% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  40% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  60% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  62% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  64% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  66% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  68% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  72% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  78% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  80% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  82% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  84% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  88% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  90% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  92% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  96% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  0%, 100% {
  transform: translate(0, 0) rotate(0); }
}
